<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <!-- 国内使用 -->
    <script type="text/javascript" charset="utf-8" src="http://g.alicdn.com/sd/ncpc/nc.js?t=2015052012"></script>
    <!-- 若您的主要用户来源于海外，请替换使用下面的js资源 -->
    <!-- <script type="text/javascript" charset="utf-8" src="//aeis.alicdn.com/sd/ncpc/nc.js?t=2015052012"></script> -->


    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>

</head>
<body>
<div id="your-dom-id" class="nc-container"></div> <!--No-Captcha渲染的位置，其中 class 中必须包含 nc-container-->

<script type="text/javascript">

        //应用类型标识。它和使用场景标识（scene字段）一起决定了滑动验证的业务场景与后端对应使用的策略模型。
        //您可以在人机验证控制台的配置管理页签找到对应的appkey字段值，请务必正确填写。
        var nc_appKey = "FFFF0N00000000009878";
        var nc_scene = "nc_message";
        var nc_token = [nc_appKey, (new Date()).getTime(), Math.random()].join(':');

        var NC_Opt =
        {
            renderTo: "#your-dom-id",
            appkey: nc_appKey,
            scene: nc_scene,
            token: nc_token,
            customWidth: 300,
            trans:{"key1":"code0"},
            elementID: ["usernameID"],
            is_Opt: 0,
            language: "cn",
            isEnabled: true,
            timeout: 3000,
            times:5,
            apimap: {
                // 'analyze': '//a.com/nocaptcha/analyze.jsonp',
                // 'get_captcha': '//b.com/get_captcha/ver3',
                // 'get_captcha': '//pin3.aliyun.com/get_captcha/ver3'
                // 'get_img': '//c.com/get_img',
                // 'checkcode': '//d.com/captcha/checkcode.jsonp',
                // 'umid_Url': '//e.com/security/umscript/3.2.1/um.js',
                // 'uab_Url': '//aeu.alicdn.com/js/uac/909.js',
                // 'umid_serUrl': 'https://g.com/service/um.json'
            },
            callback: function (data) {
                window.console && console.log(nc_token)
                window.console && console.log(data.csessionid)
                window.console && console.log(data.sig)

                $.ajax({
                    type: "POST",
                    url: "http://localhost:8888/afs/test",
                    headers: {
                        "afs-token": nc_token
                    },
                    contentType:"application/json",
                    datatype:"json",
                    data: JSON.stringify({
                        "token": nc_token,
                        "sessionId": data.csessionid,
                        "sign": data.sig,
                        "scene": nc_scene,
                        "appKey": nc_appKey

                    }),
                    success: function (msg) {
                        console.log("msg==="+msg);
                    }
                });

            }
        }


        var nc = new noCaptcha(NC_Opt)
        nc.upLang('cn', {
            _startTEXT: "请按住滑块，拖动到最右边",
            _yesTEXT: "验证通过",
            _error300: "哎呀，出错了，点击<a href=\"javascript:__nc.reset()\">刷新</a>再来一次",
            _errorNetwork: "网络不给力，请<a href=\"javascript:__nc.reset()\">点击刷新</a>",
        })

</script>
</body>
</html>