<!DOCTYPE html>
<html>
<head>
    <title>spring boot</title>
</head>
<body ng-app="app" ng-controller="MainController">

<h2>spring bootaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h2>

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">

    $.ajax({
        "type": "POST",
        "url": "http://a.longmao.com:8081/contact/add",
        "data": JSON.stringify({
            "company": "admin",
            "content": "contentadmin",
            "mobile":"13811244057"
        }),
        "success": function (msg) {
            console.log(msg);
            console.log("跨域测试");
            alert(msg)
            $("#corsRes").text(msg);
        }
    });
</script>

</body>
</html>
